.card-body{
    justify-content: center;
    align-content: center;
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 3px solid #2b3d4f;
}

.image-container {
    width: 10rem;
    overflow: hidden;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.card-container {
    display: flex;
    margin-left: 2rem;
}

.titulo-principal {
    text-align: center;
    margin-bottom: 4rem;
}